video {
    object-fit: cover !important;
    position: relative;

    height: 400px;
    width: 550px;
    border: 25px solid white;
    /* z-index: 1; */
}

@media (max-width:320px) {
    video {
        width: 260px;
    }
}